// 進度條
.timeline-section {
	position: relative;
    margin: 30px 0;
}
.timeline-section::after {
	content:'';
	position:absolute;
	left: 0;    
	right: 0;
	height: 3px; 
	background-color: #E31277;
}
.timeline-pointer{
	position: relative;
    display: flex;
    justify-content: center;
}
.timeline-pointer::before {
	content:'';
	position:absolute;
	left: 50%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	transform: translate(-50%,-25%);
	background-color: #E31277;
}
.timeline-dot{
    position: relative;
    display: flex;
    justify-content: center;
}
.timeline-dot::before {
    content:'';
	position:absolute;
	left: 50%;
	width: 8px;
	height: 8px;
    border: 1px solid #E31277;
	border-radius: 50%;
	transform: translate(-50%,-25%);
	background-color: #fff;
}
// 進度條文字
.timeline-text{
    font-size: 14px;
    line-height: 21px;
}
@include media-breakpoint-up(md) { 
    .timeline-text{
        font-size: 16px;
        line-height: 24px;
    }
}
